<div class="logout-button">
  <strong><%= @yell.user_name %></strong>&nbsp;&nbsp;|
  <%= link_to 'Logout', '/users/sign_out', method: :delete, :class => 'btn btn-link' %>
</div>

<h1>Yeller!</h1>

<div class="row">
  <div class="span4">
    <%= render 'form' %>
  </div>
  <div class="span8">
    <%= render 'yells' %>
  </div><!--/span-->
</div><!--/row-->